@import '../../assets/styles/core/base';
@import '../../assets/styles/core/setting';
@import '../../assets/styles/core/reset';

.index_container {
  width: 100%;
  font-family: "-apple-system,BlinkMacSystemFont","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  .list_container {
    width: 100%;
    padding: 0 pr2(20);
    box-sizing: border-box;
    margin-top:pr2(30);
    >li {
      margin-bottom: pr2(40);
      .title {
        color: #292929;
        font-size: pr2(22);
        font-weight: bold;
        line-height: 1.4;
        text-align: left;
        margin-bottom: pr2(20);
        @include ellipsisLn(2);
      }
      .content {
        color: #4f4f4f;
        font-size: pr2(14);
        text-align: left;
        line-height: 1.4;
        @include ellipsisLn(5);
        font-family: "-apple-system,BlinkMacSystemFont","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      }
      .read_more {
        font-size: pr2(14);
        color: #5FCB71;
        margin-top: pr2(10);
      }
    }
  }
  .btn_container {
    width: 100%;
    padding: 0 pr2(20);
    margin-top: pr2(60);
    box-sizing: border-box;
  }
  .btn_wrapper {
    width: 100%;
    height: pr2(56);
    background: #5FCB71;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: pr2(6);
    .previous, .next {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: pr2(16);
      font-weight: bold;
      position: relative;
    }
    .previous:after {
      content: '';
      display: block;
      width: 1px;
      height: pr2(34);
      background: rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
}